#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  text-align: center;
  overflow-x:hidden;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-gradient {
  mask-image: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 85%);
}
.custom-shadow {
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.6))
}
.custom-shadow2 {
  filter: drop-shadow(0 0.15rem 0.1rem rgba(0, 0, 0, 0.1))
}
.custom-shadow3 {
  filter: drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0.5))
}

.animation-custom1 {
  animation: load-from-side 0.5s ease-in-out forwards;
}
.animation-custom2 {
  animation: unload 0.5s ease-in-out forwards;
}

.custom-grid {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem) )
}

@keyframes load-from-side {
  0%, 100% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes unload {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30rem);
  }
}